footer.foot
    div.foot__top
        nav.sitemap.foot__sitemap
            ul.sitemap__list
                li.sitemap__item.sitemap__item--active
                    //a.sitemap__link(href="")
                    |О нас
                li.sitemap__item
                    a.sitemap__link(href="")
                        |Услуги и цены
                li.sitemap__item
                    a.sitemap__link(href="")
                        |Специалисты
                li.sitemap__item
                    a.sitemap__link(href="")
                        |Отзывы
            ul.sitemap__list
                li.sitemap__item
                    a.sitemap__link(href="")
                        |Пациентам
                li.sitemap__item
                    a.sitemap__link(href="")
                        |Контактная информация
                li.sitemap__item
                    a.sitemap__link(href="")
                        |Лицензия
        div.foot__buttons
            ul.foot__buttons-list
                li.foot__buttons-item
                    button.common__button.common__button--no-backing
                        |Записаться на прием
                li.foot__buttons-item
                    button.common__button.common__button--no-backing
                        |Оставить отзыв
                li.foot__buttons-item
                    button.common__button.common__button--no-backing
                        |Написать главному врачу
        div.foot__contacts
            ul.foot__contacts-list
                li.foot__contacts-item
                    span.foot__contacts-hint
                        |Юридический адрес
                    p.foot__contacts-data
                        |улица Академика Шварца, 14, город Екатеринбург, 620073
    div.foot__middle
        div.foot__info
            div.foot__col
                p
                    |Сайт, а также вся информация о товарах и ценах, предоставленная на нём, носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
            div.foot__col
                p
                    |Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к менеджеру сайта с помощью специальной формы связи или по телефону +7 343 363 74 09.
    div.foot__bottom
        span.foot__copyright
            |© ООО «ГБ №41 - Семейная медицина», 2020
        div.social
            ul.social__list
                li.social__item
                    a.social__link(href="")
                li.social__item
                    a.social__link(href="")
                li.social__item
                    a.social__link(href="")
        div.developer.foot__developer
            a.developer__link(href="")
                |Dextra
            span.developer__hint
                |Разработка
                br
                |сайта