section.hidden-block
    div.hidden-block__background
    button.hidden-block__close-button.js-close-popup-button
    div.hidden-block__container
        section.project-popup.hidden-block__popup(data-popup="project")
            
