doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        link(rel="stylesheet" href="style/normalize.css" type="text/css")
        link(rel="stylesheet" href="style/swiper.css" type="text/css")
        link(rel="stylesheet" href="style/choices.css" type="text/css")
        link(rel="stylesheet" href="style/main.css" type="text/css")
        title Династия
    body
        div(style="display: none")
            include ../../build/images/sprite.svg
        //= partials/header.pug
        main.main
            div.container
                section.inner-intro.inner-intro--centered
                    div.breadcrumbs.inner-intro__breadcrumbs
                        ul.breadcrumbs__list
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="")
                                    |Главная
                            li.breadcrumbs__item
                                |Контакты
                    div.inner-intro__heading-wrapper
                        h1.common__h1-heading.inner-intro__heading
                            |Контакты
                section.contacts
                    div.contacts__branches
                        section.branches
                            div.branches__tabs.js-tabs(data-tabs="branches")
                                div.tabs
                                    ul.tabs__list
                                        li.tabs__item
                                            button.tabs__button(data-tab="branch-01")
                                                |ул. Мамина-Сибиряка, 128
                                        li.tabs__item
                                            button.tabs__button(data-tab="branch-02")
                                                |ул. Академика Шварца, 14
                            ul.branches__list(data-tabs-content="branches")
                                li.branches__item(data-tab-content="branch-01")
                                    div.branch
                                        div.branch__top
                                            div.branch__image-wrapper
                                                img.branch__image(src="images/branches/branch-01.jpg", alt="")
                                            div.branch__map-wrapper
                                                div.branch__map.js-branch-map(data-branch="mamsib")
                                        div.branch__bottom
                                            div.branch__col
                                                div.common__wysiwyg.branch__work-hours
                                                    p
                                                        |Филиал работает ежедневно с 07:30 до 20:00
                                                span.branch__opening-sign
                                                    |Сейчас открыто
                                            div.branch__col
                                                div.common__wysiwyg.branch__description
                                                    p
                                                        |Клиника расположена в отдельном 4-х этажном здании на углу ул. Мамина-Сибиряка и ул. Карла Маркса, напротив Екатеринбургского Зоопарка. Вход в клинику расположен в правой части здания. Если вам необходим пандус – он находится в левой части здания.
                                                    p
                                                        |Забор анализов ежедневно с 07:30. Вакцинация ежедневно.
                                li.branches__item(data-tab-content="branch-02")
                                    div.branch
                                        div.branch__top
                                            div.branch__map-wrapper
                                                div.branch__map.js-branch-map(data-branch="akshv")
                                        div.branch__bottom
                                            div.branch__col
                                                div.common__wysiwyg.branch__work-hours
                                                    p
                                                        |Филиал работает ежедневно с 07:30 до 20:00
                                                span.branch__opening-sign
                                                    |Сейчас открыто
                                            div.branch__col
                                                div.common__wysiwyg.branch__description
                                                    p
                                                        |Клиника расположена в отдельном 4-х этажном здании на углу ул. Мамина-Сибиряка и ул. Карла Маркса, напротив Екатеринбургского Зоопарка. Вход в клинику расположен в правой части здания. Если вам необходим пандус – он находится в левой части здания.
                                                    p
                                                        |Забор анализов ежедневно с 07:30. Вакцинация ежедневно.
                    div.contacts__description
                        div.common__wysiwyg
                            h2
                                |Контактная информация
                            p
                                |Юридический и фактический адрес: ул. Академика Шварца, 14, г. Екатеринбург, 620073
                            p
                                |Электронная почта: 
                                a(href="")
                                    |mail@dinasty.ru
                            p
                                |Телефон: +7 (343) 287-11-11
                            h2
                                |Реквизиты
                            p
                                |ООО «ГКБ №41 – Семейная медицина»
                            p
                                |ИНН: 6674194106
                            p
                                |ОГРН: 1069674077835
                            p
                                |р/счет: 40702810162160007611
                            p
                                |в ПАО «УБРиР» БИК: 046577795
                            p
                                |к/счет: 30101810900000000795
        //= partials/footer.pug
        // partials/popup.pug
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="script/vendor.js" type="text/javascript")
        script(src="script/script.js")


