doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        link(rel="stylesheet" href="style/normalize.css" type="text/css")
        link(rel="stylesheet" href="style/swiper.css" type="text/css")
        link(rel="stylesheet" href="style/choices.css" type="text/css")
        link(rel="stylesheet" href="style/main.css" type="text/css")
        title Династия
    body
        div(style="display: none")
            include ../../build/images/sprite.svg
        //= partials/header.pug
        main.main
            div.container
                section.inner-intro
                    div.breadcrumbs.inner-intro__breadcrumbs
                        ul.breadcrumbs__list
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="")
                                    |Главная
                            li.breadcrumbs__item
                                |Очень большой заголовок первого уровня
                    div.inner-intro__heading-wrapper
                        h1.common__h1-heading.inner-intro__heading
                            |Очень большой заголовок первого уровня
                article.default
                    div.common__wysiwyg.default__wysiwyg
                        p
                            |Семейные клиники «Династия» – это сеть  современных многопрофильных поликлиник для детей и взрослых. Мы стремимся быть лучшими в сфере своей деятельности и обладать безупречной репутацией на рынке медицинских услуг.
                        p
                            |Ежемесячно на заседании комиссии по контролю качества проводится экспертиза более 100 историй болезни, анализируются все анкеты, заполненных пациентами клиник за текущий период. Надеемся, что Вы по достоинству оцените наши усилия по обеспечению высокого качества медицинской помощи. Ждем от Вас откликов, замечаний и предложений, которые можно оставить на сайте в разделе Письмо главному врачу. Благодарим Вас за то, что Вы выбрали услуги Сети Семейных клиник «Династия»!
                        img(src="images/media/default-image-01.jpg", alt="")
                        p
                            |Надеемся, что Вы по достоинству оцените наши усилия по обеспечению высокого качества медицинской помощи. Ждем от Вас откликов, замечаний и предложений, которые можно оставить на сайте в разделе Письмо главному врачу.
                        h2
                            |Довольно-таки большой заголовок второго уровня
                        p
                            |Семейные клиники «Династия» – это сеть  современных многопрофильных поликлиник для детей и взрослых. Мы стремимся быть лучшими в сфере своей деятельности и обладать безупречной репутацией на рынке медицинских услуг. Надеемся, что Вы по достоинству оцените наши усилия по обеспечению высокого качества медицинской помощи. Ждем от Вас откликов, замечаний и предложений, которые можно оставить на сайте в разделе Письмо главному врачу. 
                        p
                            |Наиболее важные аспекты успешной работы для нас:
                        ul
                            li
                                |высокая квалификация и профессионализм сотрудников,
                            li
                                |оптимальное использование кадровых, материально - технических ресурсов,
                            li
                                |высокотехнологичное и современное оборудование.
                        p
                            |Семейные клиники «Династия» – это сеть  современных многопрофильных поликлиник для детей и взрослых. Мы стремимся быть лучшими в сфере своей деятельности и обладать безупречной репутацией на рынке медицинских услуг. Наиболее важные аспекты успешной работы для нас:
                        ol
                            li
                                |высокотехнологичное и современное оборудование,
                            li
                                |соблюдение российских стандартов медицинской помощи,
                            li
                                |тщательный технологический и санитарно-эпидемиологический контроль,
                            li
                                |контроль качества медицинских услуг.
                        p
                            |Семейные клиники «Династия» – это сеть  современных многопрофильных поликлиник для детей и взрослых. Мы стремимся быть лучшими в сфере своей деятельности и обладать безупречной репутацией на рынке медицинских услуг.
                        h3
                            |Небольшой заголовок третьего уровня
                        p
                            |Семейные клиники «Династия» – это сеть  современных многопрофильных поликлиник для детей и взрослых. Мы стремимся быть лучшими в сфере своей деятельности и обладать безупречной репутацией на рынке медицинских услуг. Надеемся, что Вы по достоинству оцените наши усилия по обеспечению высокого качества медицинской помощи. 
                        div.table-scroller
                            table
                                tr
                                    th
                                        |Специальность врача
                                    th
                                        |Имя врача
                                    th
                                        |Дни приема
                                tr
                                    td
                                        |Терапевт
                                    td
                                        |Иванов Степан Геннадьевич
                                    td
                                        |Понедельник – пятница
                                tr
                                    td
                                        |Педиатр
                                    td
                                        |Петров Владимир Александрович
                                    td
                                        |Понедельник, вторник, пятница             
                                tr
                                    td
                                        |ЛОР
                                    td
                                        |Сидоров Константин Петрович
                                    td
                                        |Понедельник, среда
                                tr
                                    td
                                        |Диетолог
                                    td
                                        |Грозный Владимир Константинович
                                    td
                                        |Четверг, пятница
                        p
                            |Семейные клиники «Династия» – это сеть  современных многопрофильных поликлиник для детей и взрослых. Мы стремимся быть лучшими в сфере своей деятельности и обладать безупречной репутацией на рынке медицинских услуг.
        //= partials/footer.pug
        // partials/popup.pug
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="script/vendor.js" type="text/javascript")
        script(src="script/script.js")


