doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        link(rel="stylesheet" href="style/normalize.css" type="text/css")
        link(rel="stylesheet" href="style/swiper.css" type="text/css")
        link(rel="stylesheet" href="style/choices.css" type="text/css")
        link(rel="stylesheet" href="style/main.css" type="text/css")
        title Династия
    body
        div(style="display: none")
            include ../../build/images/sprite.svg
        //= partials/header.pug
        main.main
            div.container
                section.main-slider.swiper-container.js-main-slider
                    ul.main-slider__list.swiper-wrapper
                        li.main-slider__item-wrapper.swiper-slide
                            div.main-slider__item
                                div.main-slider__image-wrapper
                                    img.main-slider__image(src="images/main-slider/main-slide-01.jpg", alt="")
                                div.main-slider__info
                                    h1.main-slider__heading
                                        |Сеть частных клиник «Династия»
                                    div.main-slider__description
                                        p
                                            |Предлагает медицинские услуги для всей семьи. Все наши врачи обладают высокой квалификацией и большим опытом, что зачастую является залогом точной постановки диагноза и эффективного лечения.
                                    a.common__link.common__link--backing.main-slider__link.js-bubble-hover(href="")
                                        span
                                            |Подробнее
                        li.main-slider__item-wrapper.swiper-slide
                            div.main-slider__item
                                div.main-slider__image-wrapper
                                    img.main-slider__image(src="images/main-slider/main-slide-01.jpg", alt="")
                                div.main-slider__info
                                    h1.main-slider__heading
                                        |Более 40 лучших врачей разных специальностей
                                    div.main-slider__description
                                        p
                                            |Предлагает медицинские услуги для всей семьи. Все наши врачи обладают высокой квалификацией и большим опытом, что зачастую является залогом точной постановки диагноза и эффективного лечения.
                                    a.common__link.common__link--backing.main-slider__link.js-bubble-hover(href="")
                                        span
                                            |Подробнее
                    div.main-slider__pagination.js-main-slider-pagination
                    div.main-slider__arrows
                        div.main-slider__arrow.js-main-slider-arrow-left
                            svg(width="20" height="37")
                                use(xlink:href="#arrow-left")
                        div.main-slider__arrow.js-main-slider-arrow-right
                            svg(width="20" height="37")
                                use(xlink:href="#arrow-right")
                section.search.search--index
                    form.form.form--search
                        div.form__group
                            input.form__input.form__input--rounded(placeholder="Поиск по сайту")
                        button.common__button.common__button--medium.form__search-button.js-bubble-hover
                            span
                                |Искать
                section.areas.areas--index
                    h1.common__h1-heading.areas__heading
                        |Отделения
                    div.areas__tabs.js-tabs(data-tabs="areas")
                        div.tabs
                            ul.tabs__list
                                li.tabs__item
                                    button.tabs__button.js-active-tab(data-tab="grown")
                                        |Взрослое отделение
                                li.tabs__item
                                    button.tabs__button(data-tab="child")
                                        |Детское отделение                          
                    div.areas__container(data-tabs-content="areas")
                        ul.areas__list(data-tab-content="grown")
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-05.svg", alt="")
                                a.areas__link(href="")
                                    |Акушер-гинеколог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-08.svg", alt="")
                                a.areas__link(href="")
                                    |Аллерголог-иммунолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-19.svg", alt="")
                                a.areas__link(href="")
                                    |Гастроэнтеролог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-01.svg", alt="")
                                a.areas__link(href="")
                                    |Дерматовенеролог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-06.svg", alt="")
                                a.areas__link(href="")
                                    |Диетолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-09.svg", alt="")
                                a.areas__link(href="")
                                    |Инфекционист
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-24.svg", alt="")
                                a.areas__link(href="")
                                    |Кардиолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-14.svg", alt="")
                                a.areas__link(href="")
                                    |Клинический психолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-03.svg", alt="")
                                a.areas__link(href="")
                                    |Колопроктолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-27.svg", alt="")
                                a.areas__link(href="")
                                    |Лаборатория
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-15.svg", alt="")
                                a.areas__link(href="")
                                    |ЛОР (Отоларинголог)
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-25.svg", alt="")
                                a.areas__link(href="")
                                    |Маммолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-35.svg", alt="")
                                a.areas__link(href="")
                                    |Мануальный терапевт
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-23.svg", alt="")
                                a.areas__link(href="")
                                    |Массажист
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-16.svg", alt="")
                                a.areas__link(href="")
                                    |Невролог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-34.svg", alt="")
                                a.areas__link(href="")
                                    |Нефролог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-28.svg", alt="")
                                a.areas__link(href="")
                                    |Онколог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-20.svg", alt="")
                                a.areas__link(href="")
                                    |Остеопат
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-22.svg", alt="")
                                a.areas__link(href="")
                                    |Офтальмолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-10.svg", alt="")
                                a.areas__link(href="")
                                    |Психиатр
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-11.svg", alt="")
                                a.areas__link(href="")
                                    |Процедурный кабинет
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-33.svg", alt="")
                                a.areas__link(href="")
                                    |Пульмонолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-17.svg", alt="")
                                a.areas__link(href="")
                                    |Ревматолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-26.svg", alt="")
                                a.areas__link(href="")
                                    |Рефлексотерапевт
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-30.svg", alt="")
                                a.areas__link(href="")
                                    |Сердечно-сосудистый хирург
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-18.svg", alt="")
                                a.areas__link(href="")
                                    |Справки и сертификаты
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-29.svg", alt="")
                                a.areas__link(href="")
                                    |Терапевт
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-32.svg", alt="")
                                a.areas__link(href="")
                                    |Травматолог-ортопед
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-13.svg", alt="")
                                a.areas__link(href="")
                                    |УЗИ
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-02.svg", alt="")
                                a.areas__link(href="")
                                    |Услуги на дому
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-04.svg", alt="")
                                a.areas__link(href="")
                                    |Уролог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-21.svg", alt="")
                                a.areas__link(href="")
                                    |Физиотерапия
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-07.svg", alt="")
                                a.areas__link(href="")
                                    |Функциональная диагностика
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-12.svg", alt="")
                                a.areas__link(href="")
                                    |Хирург
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-31.svg", alt="")
                                a.areas__link(href="")
                                    |Эндокринолог
                        ul.areas__list(data-tab-content="child")
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-05.svg", alt="")
                                a.areas__link(href="")
                                    |Акушер-гинеколог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-08.svg", alt="")
                                a.areas__link(href="")
                                    |Аллерголог-иммунолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-19.svg", alt="")
                                a.areas__link(href="")
                                    |Гастроэнтеролог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-01.svg", alt="")
                                a.areas__link(href="")
                                    |Дерматовенеролог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-06.svg", alt="")
                                a.areas__link(href="")
                                    |Диетолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-09.svg", alt="")
                                a.areas__link(href="")
                                    |Инфекционист
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-24.svg", alt="")
                                a.areas__link(href="")
                                    |Кардиолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-14.svg", alt="")
                                a.areas__link(href="")
                                    |Клинический психолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-03.svg", alt="")
                                a.areas__link(href="")
                                    |Колопроктолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-27.svg", alt="")
                                a.areas__link(href="")
                                    |Лаборатория
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-15.svg", alt="")
                                a.areas__link(href="")
                                    |ЛОР (Отоларинголог)
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-35.svg", alt="")
                                a.areas__link(href="")
                                    |Мануальный терапевт
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-23.svg", alt="")
                                a.areas__link(href="")
                                    |Массажист
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-16.svg", alt="")
                                a.areas__link(href="")
                                    |Невролог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-34.svg", alt="")
                                a.areas__link(href="")
                                    |Нефролог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-28.svg", alt="")
                                a.areas__link(href="")
                                    |Онколог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-20.svg", alt="")
                                a.areas__link(href="")
                                    |Остеопат
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-22.svg", alt="")
                                a.areas__link(href="")
                                    |Офтальмолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-10.svg", alt="")
                                a.areas__link(href="")
                                    |Психиатр
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-11.svg", alt="")
                                a.areas__link(href="")
                                    |Процедурный кабинет
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-33.svg", alt="")
                                a.areas__link(href="")
                                    |Пульмонолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-17.svg", alt="")
                                a.areas__link(href="")
                                    |Ревматолог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-26.svg", alt="")
                                a.areas__link(href="")
                                    |Рефлексотерапевт
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-30.svg", alt="")
                                a.areas__link(href="")
                                    |Сердечно-сосудистый хирург
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-18.svg", alt="")
                                a.areas__link(href="")
                                    |Справки и сертификаты
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-29.svg", alt="")
                                a.areas__link(href="")
                                    |Терапевт
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-32.svg", alt="")
                                a.areas__link(href="")
                                    |Травматолог-ортопед
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-13.svg", alt="")
                                a.areas__link(href="")
                                    |УЗИ
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-02.svg", alt="")
                                a.areas__link(href="")
                                    |Услуги на дому
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-04.svg", alt="")
                                a.areas__link(href="")
                                    |Уролог
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-21.svg", alt="")
                                a.areas__link(href="")
                                    |Физиотерапия
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-07.svg", alt="")
                                a.areas__link(href="")
                                    |Функциональная диагностика
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-12.svg", alt="")
                                a.areas__link(href="")
                                    |Хирург
                            li.areas__item
                                img.areas__icon(src="images/areas/area-icon-31.svg", alt="")
                                a.areas__link(href="")
                                    |Эндокринолог
                section.advantages
                    h1.common__h1-heading.advantages__heading
                        |О наших клиниках
                    ul.advantages__list
                        li.advantages__item
                            div.advantage
                                div.advantage__background
                                    picture
                                        source(srcset="images/advantages/doctors-background_media-1024.jpg" media="(min-width: 1024px)")
                                        source(srcset="images/advantages/doctors-background_media-320.jpg" media="(max-width: 1024px)")
                                        img.advantage__background-image(src="images/advantages/doctors-background_media-1024.jpg", alt="")
                                div.advantage__info
                                    p
                                        |Более 40 лучших врачей разных специальностей и более 20 медицинских сестер с «золотыми руками»
                                    a.common__link.common__link--large.advantage__link(href="")
                                        |Специалисты
                        li.advantages__item
                            div.advantage
                                div.advantage__background
                                    picture
                                        source(srcset="images/advantages/ages-background_media-1024.jpg" media="(min-width: 1024px)")
                                        source(srcset="images/advantages/ages-background_media-320.jpg" media="(max-width: 1024px)")
                                        img.advantage__background-image(src="images/advantages/ages-background_media-1024.jpg", alt="")
                                div.advantage__info
                                    p
                                        |Медицинская помощь для всех членов вашей семьи, независимо от возраста и пола
                        li.advantages__item
                            div.advantage
                                div.advantage__background
                                    picture
                                        source(srcset="images/advantages/equipment-background_media-1024.jpg" media="(min-width: 1024px)")
                                        source(srcset="images/advantages/equipment-background_media-320.jpg" media="(max-width: 1024px)")
                                        img.advantage__background-image(src="images/advantages/equipment-background_media-1024.jpg", alt="")
                                div.advantage__info
                                    p
                                        |Cовременное, высокотехнологичное оборудование
                        li.advantages__item
                            div.advantage
                                div.advantage__background
                                    picture
                                        source(srcset="images/advantages/interior-background_media-1024.jpg" media="(min-width: 1024px)")
                                        source(srcset="images/advantages/interior-background_media-320.jpg" media="(max-width: 1024px)")
                                        img.advantage__background-image(src="images/advantages/interior-background_media-1024.jpg", alt="")
                                div.advantage__info
                                    p
                                        |Просторные, удобные, современные клиники
                                    //button.common__button.common__button--large.common__button--no-backing.common__button--underline.advantage__button
                                        |Фотогалерея
                    div.advantages__link-wrapper
                        a.common__link.common__link--large.advantages__link(href="")
                            |Подробнее о клиниках
                section.news.news--index
                    h1.common__h1-heading.news__heading
                        |Новости
                    ul.news__list
                        li.news__item
                            div.news-preview
                                span.news-preview__date
                                    |03.07.2020
                                h4.common__h4-heading.news-preview__heading
                                    a.news-preview__link(href="")
                                        |Физиотерапия на дому
                                p.news-preview__description
                                    |Все наши врачи обладают высокой квалификацией и большим опытом, что зачастую является залогом точной постановки диагноза и эффективного лечения.
                        li.news__item
                            div.news-preview
                                span.news-preview__date
                                    |18.06.2020
                                h4.common__h4-heading.news-preview__heading
                                    a.news-preview__link(href="")
                                        |Жидкий азот – криомассаж для красоты
                                p.news-preview__description
                                    |Для достижения полного понимания и комфорта в сотрудничестве с вами просим вас ознакомиться с разделом сайта «Для пациентов».
                        li.news__item
                            div.news-preview
                                span.news-preview__date
                                    |01.06.2020
                                h4.common__h4-heading.news-preview__heading
                                    a.news-preview__link(href="")
                                        |У нас безопасно
                                p.news-preview__description
                                    |Мы оказываем медицинскую помощь для всех членов вашей семьи, независимо от возраста и пола.
                    div.news__link-wrapper
                        a.common__link.common__link--large.news__link(href="")
                            |Все новости
                section.reviews.reviews--slider
                    h1.common__h1-heading.reviews__heading
                        |Отзывы
                    div.reviews-slider.swiper-container.js-reviews-slider
                        ul.reviews-slider__list.swiper-wrapper
                            li.reviews-slider__item.swiper-slide
                                div.reviews-slider__info
                                    span.reviews-slider__date
                                        |30.01.2020
                                    span.reviews-slider__author
                                        |Дмитрий
                                    div.common__wysiwyg.reviews-slider__description
                                        p
                                            |Для меня поход в поликлинику это всегда стресс. Я нервничаю. Боязнь больницы. Был у доктора Суслова Владимира Николаевича травматолога-ортопеда. Все на высшем уровне. Я был доволен. Для меня поход в поликлинику это всегда стресс.
                                        p
                                            |Я нервничаю. Боязнь больницы. Был у доктора Суслова Владимира Николаевича травматолога-ортопеда. Все на высшем уровне. Я был доволен. Для меня поход в поликлинику это всегда стресс. Я нервничаю. Боязнь больницы. Был у доктора Суслова Владимира Николаевича травматолога-ортопеда. Все на высшем уровне. Я был доволен.
                                button.common__button.reviews-slider__button.js-bubble-hover
                                    span
                                        |Читать полностью
                            li.reviews-slider__item.swiper-slide
                                div.reviews-slider__info
                                    span.reviews-slider__date
                                        |17.03.2020
                                    span.reviews-slider__author
                                        |Мария
                                    div.common__wysiwyg.reviews-slider__description
                                        p
                                            |Здравствуйте, хочу выразить огромную благодарность Шмелевой Ирине Владимировне. Наблюдалась у нее по беременности в женской консультации. Можно сказать, что это наш семейный доктор. Наблюдаюсь я, теперь уже взрослая дочка тоже. Грамотный и отзывчивый специалист, смогла найти контакт. Даже проблемы не медицинского характера, а бытового, в нерабочее время помогает решать. За всё время лечения не встретили от нее ни одного грубого слова. Всегда подскажет, поддержит. Назначит правильные лекарства, хорошее лечение, всегда интересуется, как протекает выздоровление.
                                        p
                                            |Желаем Ирине Владимировне долгих лет работы с нами – женщинами, разрешения наших проблем, хорошего настроения и здоровья. С благодарностью, Мария.
                                button.common__button.reviews-slider__button.js-bubble-hover
                                    span
                                        |Читать полностью
                            li.reviews-slider__item.swiper-slide
                                div.reviews-slider__info
                                    span.reviews-slider__date
                                        |30.01.2020
                                    span.reviews-slider__author
                                        |Дмитрий
                                    div.common__wysiwyg.reviews-slider__description
                                        p
                                            |Для меня поход в поликлинику это всегда стресс. Я нервничаю. Боязнь больницы. Был у доктора Суслова Владимира Николаевича травматолога-ортопеда. Все на высшем уровне. Я был доволен. Для меня поход в поликлинику это всегда стресс.
                                        p
                                            |Я нервничаю. Боязнь больницы. Был у доктора Суслова Владимира Николаевича травматолога-ортопеда. Все на высшем уровне. Я был доволен. Для меня поход в поликлинику это всегда стресс. Я нервничаю. Боязнь больницы. Был у доктора Суслова Владимира Николаевича травматолога-ортопеда. Все на высшем уровне. Я был доволен.
                                button.common__button.reviews-slider__button.js-bubble-hover
                                    span
                                        |Читать полностью
                            li.reviews-slider__item.swiper-slide
                                div.reviews-slider__info
                                    span.reviews-slider__date
                                        |17.03.2020
                                    span.reviews-slider__author
                                        |Мария
                                    div.common__wysiwyg.reviews-slider__description
                                        p
                                            |Здравствуйте, хочу выразить огромную благодарность Шмелевой Ирине Владимировне. Наблюдалась у нее по беременности в женской консультации. Можно сказать, что это наш семейный доктор. Наблюдаюсь я, теперь уже взрослая дочка тоже. Грамотный и отзывчивый специалист, смогла найти контакт. Даже проблемы не медицинского характера, а бытового, в нерабочее время помогает решать. За всё время лечения не встретили от нее ни одного грубого слова. Всегда подскажет, поддержит. Назначит правильные лекарства, хорошее лечение, всегда интересуется, как протекает выздоровление.
                                        p
                                            |Желаем Ирине Владимировне долгих лет работы с нами – женщинами, разрешения наших проблем, хорошего настроения и здоровья. С благодарностью, Мария.
                                button.common__button.reviews-slider__button.js-bubble-hover
                                    span
                                        |Читать полностью
                        div.reviews-slider__arrows
                            div.reviews-slider__arrow.js-reviews-slider-arrow-left
                                svg(width="20" height="37")
                                    use(xlink:href="#arrow-left")
                            div.reviews-slider__arrow.js-reviews-slider-arrow-right
                                svg(width="20" height="37")
                                    use(xlink:href="#arrow-right")
                    div.reviews__link-wrapper
                        a.common__link.common__link--large.reviews__link(href="")
                            |Все отзывы
                section.branches.branches--index
                    h1.common__h1-heading.branches__heading
                        |Наши отделения
                    div.branches__tabs.js-tabs(data-tabs="branches")
                        div.tabs
                            ul.tabs__list
                                li.tabs__item
                                    button.tabs__button(data-tab="branch-01")
                                        |ул. Мамина-Сибиряка, 128
                                li.tabs__item
                                    button.tabs__button(data-tab="branch-02")
                                        |ул. Академика Шварца, 14
                    ul.branches__list(data-tabs-content="branches")
                        li.branches__item(data-tab-content="branch-01")
                            div.branch
                                div.branch__top
                                    div.branch__image-wrapper
                                        img.branch__image(src="images/branches/branch-01.jpg", alt="")
                                    div.branch__map-wrapper
                                        div.branch__map.js-branch-map(data-branch="mamsib")
                                div.branch__bottom
                                    div.branch__col
                                        div.common__wysiwyg.branch__work-hours
                                            p
                                                |Филиал работает ежедневно с 07:30 до 20:00
                                        span.branch__opening-sign
                                            |Сейчас открыто
                                    div.branch__col
                                        div.common__wysiwyg.branch__description
                                            p
                                                |Клиника расположена в отдельном 4-х этажном здании на углу ул. Мамина-Сибиряка и ул. Карла Маркса, напротив Екатеринбургского Зоопарка. Вход в клинику расположен в правой части здания. Если вам необходим пандус – он находится в левой части здания.
                                            p
                                                |Забор анализов ежедневно с 07:30. Вакцинация ежедневно.
                        li.branches__item(data-tab-content="branch-02")
                            div.branch
                                div.branch__top
                                    div.branch__map-wrapper
                                        div.branch__map.js-branch-map(data-branch="akshv")
                                div.branch__bottom
                                    div.branch__col
                                        div.common__wysiwyg.branch__work-hours
                                            p
                                                |Филиал работает ежедневно с 07:30 до 20:00
                                        span.branch__opening-sign
                                            |Сейчас открыто
                                    div.branch__col
                                        div.common__wysiwyg.branch__description
                                            p
                                                |Клиника расположена в отдельном 4-х этажном здании на углу ул. Мамина-Сибиряка и ул. Карла Маркса, напротив Екатеринбургского Зоопарка. Вход в клинику расположен в правой части здания. Если вам необходим пандус – он находится в левой части здания.
                                            p
                                                |Забор анализов ежедневно с 07:30. Вакцинация ежедневно.
        //= partials/footer.pug
        //= partials/popup.pug
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="script/vendor.js" type="text/javascript")
        script(src="script/script.js")


