// Общие цвета
deep-pink = #a4023e
bright-pink = #c8044d

black = #030404
white = #ffffff

gray = #afafaf
light-gray = #e9e9e9
lightest-gray = #f5f5f5
middle-gray = #d3d3d3

green = #71af4b

// Разрешения
desktop-medium = "(max-width: 1680px)"
desktop-small = "(max-width: 1580px)"
laptop = "(max-width: 1480px)"
tablet-landscape-large = "(max-width: 1300px)"
tablet-landscape-medium = "(max-width: 1200px)"
tablet-landscape-small = "(max-width: 1100px)"
tablet-portrait-large = "(max-width: 1024px)"
tablet-portrait-medium = "(max-width: 800px)"
tablet-portrait-small = "(max-width: 700px)"
phone = "(max-width: 520px)"