@keyframes arrow-drawing
    0%
        stroke-dashoffset 0px
    100%
        stroke-dashoffset 108px

@keyframes small-arrow-drawing
    0%
        stroke-dashoffset 0px
    100%
        stroke-dashoffset 60px

@keyframes bubble
    0%
        width 0
        height 0
        opacity 1
    100%
        width 500%
        height 500%
        opacity 0