.head
    &__wrapper
        display flex
        flex-wrap nowrap
        align-items center
        padding 35px 0 39px 0
        @media tablet-portrait-small
            padding 30px 0 34px 0

    &__burger
        position absolute
        top 50px
        right 32px
        z-index 4
        display none
        @media tablet-landscape-medium
            display block
        @media tablet-portrait-small
            top 40px
            right 20px

    &__aside
        margin 0 0 0 auto
        @media tablet-landscape-medium
            position fixed
            top 0
            left 0
            z-index 3
            margin 0
            width 0
            height 100%
            overflow hidden
            background-color white
            transition width .5s .5s ease

    &__rows
        display flex
        flex-direction column
        align-items flex-end
        @media tablet-landscape-medium
            align-items center
            box-sizing border-box
            width calc(100% + 17px)
            height 100%
            padding 80px 0
            overflow-y auto
            opacity 0
            visibility hidden
            transition opacity .5s 0s ease, visibility 0s .5s linear
        @media tablet-portrait-large
            width 100%

    &__row
        @media tablet-landscape-medium
            display flex
            flex-direction column
            align-items center
            width calc(100% - 40px)

    &__row + &__row
        margin 30px 0 0 0
        @media tablet-landscape-medium
            margin 80px 0 0 0

    &__button
        position relative
        padding 9px 25px 8px 25px
        font-family "Spectral"
        font-size 18px
        line-height 22px
        font-weight 300
        color white
        text-align left
        background-color deep-pink
        border none
        border-radius 19.5px
        outline none
        overflow hidden
        transition background-color .3s 0s ease
        cursor pointer
        @media tablet-landscape-medium
            padding 10px 25px 9px 25px
            font-size 22px
            line-height 26px
            border-radius 22.5px

        & span:not([class])
            position relative

        &:not(:last-child)
            margin 0 30px 0 0
            @media tablet-landscape-medium
                margin 0 0 30px 0

        &:not(.head__button--no-backing):hover
            background-color bright-pink

        & .bubble-container
            opacity .2

        & .bubble
            background-color white
            animation-duration .4s

        &--no-backing
            padding 0
            color black
            background none
            transition color .3s 0s ease

            & svg
                display inline-block
                margin 0 7px 0 0
                vertical-align text-top
                fill none
                stroke black
                stroke-width 1.2px
                transition stroke .3s 0s ease

            &:hover
                color bright-pink

                & svg
                    stroke bright-pink            

    &__phone
        font-family "Spectral"
        font-size 18px
        line-height 22px
        font-weight 300
        color black
        text-decoration none
        outline none
        @media tablet-landscape-medium
            font-size 22px
            line-height 26px

        &:not(:last-child)
            margin 0 30px 0 0
            @media tablet-landscape-medium
                margin 0 0 30px 0

.menu
    &__list
        display flex
        flex-wrap nowrap
        margin 0
        padding 0
        list-style none
        @media tablet-landscape-medium
            flex-direction column
            align-items center

    &__item
        font-family "Spectral"
        font-size 18px
        line-height 22px
        font-weight 300
        color black
        transition color .3s 0s ease
        cursor default
        @media tablet-landscape-medium
            font-size 22px
            line-height 26px

        &:hover
            color bright-pink

        &--active
            color bright-pink

    &__item + &__item
        margin 0 0 0 30px
        @media tablet-landscape-medium
            margin 30px 0 0 0

    &__link
        position relative
        color inherit
        text-decoration none
        outline none
        cursor pointer

    &__button
        padding 0
        font-family "Spectral"
        font-size 18px
        line-height 22px
        font-weight 300
        color black
        border none
        outline none
        background none
        transition color .3s 0s ease
        cursor pointer

        &:hover
            color bright-pink

        &--search
            &::after
                content "Поиск"
                font-family "Spectral"
                font-size 18px
                line-height 22px
                font-weight 300
                color black
                transition color .3s 0s 
                @media tablet-landscape-medium
                    font-size 22px
                    line-height 26px

            & svg
                display inline-block
                margin 0 5px 0 0
                vertical-align text-top
                fill none
                stroke black
                stroke-width 1.2px
                transition stroke .3s 0s ease

            &:hover
                &::after
                    color bright-pink

                & svg
                    stroke bright-pink

.logo
    &__link
        text-decoration none

    &__image
        display block
        @media tablet-portrait-small
            width 200px

.burger
    position absolute
    width 32px
    height 21px
    cursor pointer

    &::before
        content ""
        position absolute
        top 0
        left 0
        transform rotate(0deg)
        display block
        width 100%
        height 1px
        background-color black
        transition transform .3s 0s ease, top .3s .4s ease

    &__stroke
        position absolute
        top 10px
        left 0
        display block
        width 100%
        height 1px
        background-color black
        opacity 1
        transition opacity 0s .3s linear

    &::after
        content ""
        position absolute
        top 20px
        left 0
        transform rotate(0deg)
        display block
        width 100%
        height 1px
        background-color black
        transition transform .3s 0s ease, top .3s .4s ease

body.js-burger-menu-is-open
    overflow-y hidden

    & .burger
        &::before
            top 10px
            transform rotate(45deg)
            transition top .3s 0s ease, transform .3s .4s ease 

        &__stroke
            opacity 0

        &::after
            top 10px
            transform rotate(-45deg)
            transition top .3s 0s ease, transform .3s .4s ease 

    & .head__aside
        @media tablet-landscape-medium
            width 100%
            transition width .5s 0s ease

    & .head__rows
        @media tablet-landscape-medium
            opacity 1
            visibility visible
            transition opacity .5s .5s ease, visibility 0s .5s linear
