.main-slider
    position relative
    width 100%

    &__list
        display flex
        flex-wrap nowrap
        height auto
        margin 0
        padding 0
        list-style none

    &__item-wrapper
        position relative
        flex-shrink 0
        width 100%

    &__item
        position relative
        width calc(100% - 78px)
        max-width 1440px
        height 626px
        margin 0 auto
        border-radius 10px
        overflow hidden
        @media laptop
            height 560px
        @media tablet-landscape-medium
            width calc(100% - 64px)
        @media tablet-portrait-large
            display flex
            flex-direction column
            align-items center
            height auto
        @media tablet-portrait-small
            width calc(100% - 40px)

        &::before
            content ""
            position absolute
            top 0
            left 0
            z-index 1
            display block
            height 100%
            width 60%
            background linear-gradient(to right, rgba(42 42 42 .75) 0 25%, transparent)
            @media tablet-portrait-large
                display none

    &__image-wrapper
        @media tablet-portrait-large
            position relative
            width 100%
            height 360px
            border-radius 10px
            overflow hidden
        @media phone
            height 260px

    &__image
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        z-index 0
        display block
        width 100%
        height 100%
        object-fit cover

    &__info
        position absolute
        bottom 50px
        left 50px
        z-index 1
        width 40%
        @media tablet-landscape-medium
            bottom 40px
            left 40px
        @media tablet-portrait-large
            position static
            width 100%
            max-width 600px
            margin 30px 0 0 0
            text-align center

    &__heading
        margin 0 0 30px 0
        font-family "Spectral"
        font-size 62px
        line-height 66px
        font-weight 300
        color white
        @media tablet-portrait-large
            font-size 36px
            line-height 40px
            color black
        @media phone
            font-size 24px
            line-height 28px

    &__description
        width 85%
        margin 0 0 37px 0
        @media tablet-portrait-large
            width 100%
        @media phone
            display none

        & p:not([class])
            margin 0
            font-family "Spectral"
            font-size 18px
            line-height 26px
            font-weight 300
            color white
            @media tablet-portrait-large
                color black

        & p:not([class]) + p:not([class])
            margin 18px 0 0 0

    &__pagination
        display none
        @media tablet-portrait-large
            display flex
            flex-wrap wrap
            justify-content center
            margin 84px 0 0 0
        @media phone
            margin 50px 0 0 0

    &__arrows
        position absolute
        bottom 50px
        left 50%
        z-index 1
        display flex
        flex-wrap nowrap
        justify-content flex-end
        width calc(100% / 2 - 89px)
        max-width 670px
        height 37px
        @media tablet-portrait-large
            display none

    &__arrow
        opacity 1
        outline none
        cursor pointer
        transition opacity .5s 0s ease

        & svg
            fill none
            stroke white
            stroke-width 1.2px
            stroke-dasharray 54px

        &:last-child
            margin 0 0 0 40px

.main-slider__arrow:not(.swiper-button-disabled):hover
    & svg
        animation arrow-drawing
        animation-duration 1s
        animation-timing-function ease
        animation-iteration-count 1

.main-slider__arrow.swiper-button-disabled
    opacity .15
    cursor default

.swiper-pagination-bullet
    box-sizing border-box
    width 24px
    height 24px
    margin 0 5px
    background-color transparent
    border 1px solid middle-gray
    border-radius 12px
    outline none
    transition border .3s 0s ease, background .3s 0s ease

    &-active
        border 1px solid bright-pink
        background-color bright-pink
    
