.reviews
    display flex
    flex-direction column
    width 100%

    &--slider
        position relative
        padding 90px 0 92px 0

        &::before
            content ""
            position absolute
            top 0
            left 50%
            transform translateX(-50%)
            display block
            width calc(100vw - 17px)
            height 100%
            background-color lightest-gray
            @media tablet-portrait-large
                width 100vw

    &__heading
        position relative
        margin 0 0 46px 0

    &__link-wrapper
        align-self center
        position relative
        margin 44px 0 0 0
        @media tablet-portrait-large
            align-self flex-start

    &__list
        max-width 1052px
        margin 0 auto
        padding 0
        list-style none

    &__item + &__item
        margin 36px 0 0 0
        @media tablet-portrait-small
            margin 20px 0 0 0

    &__scroll-button
        align-self center
        margin 0 0 60px 0
        @media tablet-portrait-large
            align-self flex-start

    &__pagination
        margin 62px 0 0 0
        text-align center
        @media tablet-portrait-large
            text-align left

    &__leave-review
        margin 70px 0 0 0
        @media phone
            width 100vw
            margin 70px 0 0 -20px

.reviews-slider
    position relative
    overflow visible
    margin 0

    &__list
        display flex
        flex-wrap nowrap
        height auto
        margin 0
        padding 0
        list-style none

    &__item
        flex-shrink 0
        width calc(50% - 18px)
        min-height 360px
        max-height 360px
        border-radius 10px
        background-color white
        overflow hidden
        @media tablet-portrait-large
            width 100%

        &::before
            content ""
            position absolute
            bottom 0
            left 0
            z-index 1
            display block
            width 100%
            height 50%
            background linear-gradient(to top, white 0 50%, transparent)
            transition height 1s 0s ease
            @media tablet-landscape-small
                height 60%
            @media tablet-portrait-medium
                height 50%

    &__info
        position absolute
        top 45px
        left 50px
        width calc(100% - 90px)
        @media tablet-portrait-medium
            top 25px
            left 30px
            width calc(100% - 60px)

    &__date
        margin 0 7px 0 0
        font-family "Spectral"
        font-size 18px
        line-height 22px
        font-weight 300
        color gray

    &__author
        font-family "Spectral"
        font-size 18px
        line-height 22px
        font-weight 300
        color black

    &__description
        margin 17px 0 0 0

    &__button
        position absolute
        bottom 50px
        left 50px
        z-index 1
        opacity 0
        visibility hidden
        transition opacity .5s 0s ease, visibility 0s .5s linear, bottom .5s 0s ease, background-color .3s 0s ease
        @media tablet-landscape-small
            opacity 1
            visibility visible
        @media tablet-portrait-medium
            bottom 30px
            left 30px

    &__arrows
        position absolute
        top -97px
        right 0
        z-index 1
        display flex
        flex-wrap nowrap
        justify-content space-between
        width 80px
        height 37px

    &__arrow
        opacity 1
        outline none
        cursor pointer
        transition opacity .5s 0s ease

        & svg
            fill none
            stroke black
            stroke-width 1.2px
            stroke-dasharray 54px

.reviews-slider__item:hover
    &::before
        height 60%

    & .reviews-slider__button
        opacity 1
        visibility visible
        transition opacity .5s 0s ease, visibility 0s 0s linear, bottom .5s 0s ease, background-color .3s 0s ease

.reviews-slider__arrow:not(.swiper-button-disabled):hover
    & svg
        animation arrow-drawing
        animation-duration 1s
        animation-timing-function ease
        animation-iteration-count 1

.reviews-slider__arrow.swiper-button-disabled
    opacity .15
    cursor default
    
.review
    position relative
    width 100%

    &__info
        box-sizing border-box
        padding 44px 50px 49px 50px
        border 1px solid light-gray
        border-radius 10px
        @media tablet-portrait-medium
            padding 24px 30px 29px 30px

    &__date
        margin 0 7px 0 0
        font-family "Spectral"
        font-size 18px
        line-height 22px
        font-weight 300
        color gray

    &__author
        font-family "Spectral"
        font-size 18px
        line-height 22px
        font-weight 300
        color black

    &__description
        margin 17px 0 0 0

    &__tags
        margin 32px 0 0 0

    &__answer
        position relative
        left 50px
        box-sizing border-box
        width 100%
        margin 10px 0 0 0
        padding 32px 50px
        background-color deep-pink
        border-radius 10px
        @media tablet-landscape-small
            left 0
        @media tablet-portrait-medium
            padding 32px 30px 

        &-description
            margin 0 0 15px 0

            & p:not([class])
                color white

        &-date
            font-family "Spectral"
            font-size 18px
            line-height 26px
            font-weight 300
            color gray-pink

        &-author
            margin 0 0 0 10px
            font-family "Spectral"
            font-size 18px
            line-height 26px
            font-weight 300
            color white         

