.search
    box-sizing border-box
    width calc(100% - 78px)
    max-width 1440px
    margin 32px auto 0 auto
    padding 50px
    background-color lightest-gray
    border-radius 10px
    @media tablet-landscape-medium
        width calc(100% - 64px)
        padding 40px
    @media tablet-portrait-small
        width calc(100% - 40px)
        padding 30px
    @media phone
        display none