.search
    &--index
        box-sizing border-box
        margin 32px 0 0 0
        padding 50px
        background-color lightest-gray
        border-radius 10px
        @media tablet-portrait-medium
            padding 30px 
        @media phone
            display none
        